body {

    background-color: #121212;

}


.mainBlock {

    width: 60%;
    height: fit-content;
    background-color: hsl(0, 1%, 17%);
    overflow-x: hidden;
    margin: 0 auto; 
    margin-bottom: 100px;
}
.topBox {

    width: 100%;
    height: 310px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 20px;
    max-width: 1700px;
    margin: 0 auto;
}

.topBox2 {

    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-right: 10px;

}

.coverBlock {

    width: 170px;
    height: 170px;
    background-color: rgb(61, 61, 62);
    border-radius: 5px;
    margin-left: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}

.coverBlock_img {

    width: 72px;
    height: 72px;
}

.titleBox {

    width: 940px;
    height: 155px;
    display: flex;
    flex-direction: column;
}

.playlistTxt {

    font-size: 15px;
    color: hwb(0 100% 0%);
}

.title {

    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
}

.songsInformationTxt {

    color: white;
    font-size: 14px;
}

b:hover {

    text-decoration: underline;
    cursor: pointer;
}

.hideElement {

    display: none;
}

.coverBlock_imgDiv {

    width: 100%;
    height: 100%;
    font-size: 14px;
    gap: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.700);
    border-radius: inherit;
    
    
}


.topMenu {

    width: 100%;
    height: 80px;
    background-color: #121212;
    padding-top: 35px;
    max-width: 1700px;
    margin: 0 auto;
}

.topMenu2 {

    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;


}

.play_dotes_box {

    width: 115px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;

}

.playButton {

    width: 60px;
    height: 60px;
    background-color: rgb(79, 223, 79);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playButton:hover {

    
    background-color: rgb(93, 234, 93);
    transform: scale(1.05);
 
}

.dotesButton {

    width: fit-content;
    height: fit-content;

}

.play_img {

    width: 40px;
    height: 40px;
    margin-left: 4px;
}

.dotes_img {

    width: 34px;
    height: 34px;
    opacity: 0.6;
}

.dotes_img:hover {

    opacity: 1;
}


.listType_box{

    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

.listType_box:hover {

    opacity: 1;
}


.list_img {

    width: 25px;
    height: 25px;
}


.addedTrack_button {

    width: 15.5px;
    height: 15.5px;
    background-color: rgb(79, 223, 79);
    border-radius: 50%;
    margin-right: 10px;
    
}

.trackOption_button {

    width: 20px;
    height: 10px;
 
    margin-bottom: 8px;
}

.trackPlay_icon {

    filter: invert(1);
    cursor: pointer;
    height: 30px;
}


/* Table */

.tableContainer {
    background-color: #121212;
    color: white;
    padding: 20px;
    padding-top: 0;
    max-width: 1700px;
    margin: 0 auto;
}

.table {
    width: 96.5%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-left: 3.5%;
    padding-top: 15px;
    
}



.th, .td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #282828;
}

.th {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.trBox .tr {
    height: 60px; 

}


.thHash {

    font-size: 18px;
    color: #b3b3b3;

}
.trBox .tr:hover {
    background-color: #282828;
}


.trackNumber {
    width: 20px;
    text-align: center;
}

.trackTitle {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.albumCover {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.trackTitleTxt {
    font-size: 16px;
    color: white;  
}

.artistTxt {
    color: #b3b3b3;
    font-size: 14px;
}

.explicit {
    background-color: #9e9e9e;
    border-radius: 2px;
    color: #000;
    font-size: 9px;
    margin-left: 2px;
    display: inline-block;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    text-align: center;
}

.trackAlbum, .trackTime {

    color: #b3b3b3;
    font-size: 14px;
}

.trackDurationBox {

    color: #b3b3b3;
    font-size: 14px;
 
}


.clock_img {
    width: 22px;
    height: 22px;
    filter: invert(50%);
}

.trackName {
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.artist_E_box {

    display: flex;
    align-items: center;
}


