* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  width: 1070px;
  /* margin: 0 auto; */
  position: absolute;
  right: 0;
  background-color: #121212;
}

.album_block {
  padding: 20px 40px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

      h1 {
        color: #fff;
        font-family: Circular Std;
        font-size: 30px;
        font-weight: 700;
        line-height: 37.95px;
        letter-spacing: -0.03em;
        text-align: left;        
      }
      span {
        cursor: pointer;
        color: #ADADAD;
        font-family: Circular Std;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.24px;
        letter-spacing: 0.08em;
        text-align: right;        
      }
      span:hover {
        border-bottom: 1px solid grey;
      }
  }
  .albumMix {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 26px 0 50px;
    cursor: pointer;
    .box {
      display: flex;
      flex-direction: column;

      padding: 20px;
      width: 220px;
      margin: 0 auto;
      background-color: #1a1a1a;
      border-radius: 8px;
      img {
        width: 180px;
        border-radius: 4px;
      }
      h1 {
        font-family: Circular Std;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.3px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #ffffff;   
        margin: 20px 0 8px;     
      }
      p {
        font-family: Circular Std;
        font-size: 18px;
        font-weight: 450;
        line-height: 22.77px;
        text-align: left;
        color: #ADADAD;        
      }
    }
    .box:hover {
      /* scale: 1.02; */
      transition: 1000ms;
      box-shadow: inset 0px 0px 20px 0px #ADADAD;

      img {
        scale: 1.05;
        transition: 1000ms;
      }
    }
  }
}